@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:13px;
	padding:0;
}

a {
	color:#29750c;
	text-decoration:underline;
	cursor:pointer;
}

a:hover {
	text-decoration:none;
}

p {
	margin:0;
	padding:0 0 16px 0;
}

#wrapper {
	min-width:1024px;
	max-width:1250px;
	margin:0 auto;
}

#wrapper .margin {
	margin:0 40px;
}

.clr {
	clear:both;
}

.heading h1 {
	margin:0;
	padding:5px 0 6px 0;
	font-size:26px;
	font-weight:300;
}

#top {
	background:url(../images/v.gif) bottom repeat-x;
	padding-bottom:22px;
}

#right {
	float:right;
	width:172px;
}

#content {
	margin-right:172px;
	padding:0 30px 100px 0;
}

.path {
	font-size:11px;
	padding:0 2px;
}

.path nav, .path ul {
	padding:0;
	margin:0;
	list-style:none;
}

.path li {
	float:left;
}

.path .sep {
	padding:0 3px;
}

.box {
	border-bottom:#CCC solid 1px;
	padding-top:12px;
}

.box-head {
	height:58px;
	overflow:hidden;
}

.box-head img {
	float:left;
}

.box-head h2 {
	float:left;
	margin:0;
	padding:8px 0 0 10px;
	font-size:22px;
	font-weight:300;
	height:50px;
}

/*	box tarif	*/
.tarif .margin {
	margin:-2px !important;
	padding-bottom:18px;
}

.tarif table {
	width:100%;
	border-collapse:inherit;
	border-spacing:2px;
	font-size:14px;
	line-height:16px;
}

.tarif th {
	background:#32850a;
	color:#FFF;
	padding:12px 0;
	text-align:center;
}

.tarif td {
	width:13%;
	padding:12px 0;
	background:#f2f2f2;
	text-align:center;
}

.tarif .alt td {
	background:#e6e6e6;
}

.tarif .title {
	width:22%;
	text-align:left;
	padding:12px 10px 12px 20px;
}

/*	box quest*/
.quest {
	border-bottom:none;
}

.quest p {
	padding:0 !important;
	color:#666;
}

.quest p span {
	font-size:16px;
	color:#29750c;
}

/*	box samo	*/
.samo .t {
	display:table;
	width: 100%;
	margin-bottom:10px;
}

.samo .c {
	display: table-cell !important;
  	display: inline;
	vertical-align:top;
	width:17.6%;
	-moz-box-shadow: 0 0 4px #666;
	-webkit-box-shadow: 0 0 4px #666;
	box-shadow: 0 0 4px #666;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#666666');*/
}

.samo .c2 {
	display: table-cell !important;
  	display: inline;
	width:3%;
}

.samo .m {
	height:38px;
	padding:0;
	background:url(../images/m.gif) center no-repeat;
}

.samo .mn {
	display:table-cell;
	height:48px;
	vertical-align:middle;
	text-align:center;
	color:#FFF;
	font-size:16px;
}

.samo .a {
	text-align:center;
	color:#000;
	font-size:13px;
	padding:0;
	margin:0;
}

.samo .t {
	padding:6px 0;
}

.samo .t .t {
	padding:0;
}

.samo .tm {
	text-align:center;
	font-size:12px;
	color:#666;
	padding:4px 0;
}

.samo .s {
	font-size:13px;
	padding:4px 0 10px 0;
	text-align:center;
}

.co {
	background:#ff7f00;
}

.cr {
	background:#cd0506;
}

.cg {
	background:#8cce3a;
}

.ce {
	background:#ffdd03;
	color:#000 !important;
}

/*	box-city	*/
.city .box-head {
	background:none;
}

.city {
	border-bottom:none;
}

.city #list {
	height:572px;
	position:relative;
	overflow:hidden;
	-moz-box-shadow: 0 0 4px #666;
	-webkit-box-shadow: 0 0 4px #666;
	box-shadow: 0 0 4px #666;
	border-radius:5px;
}

.city .list {
	position:absolute;
	left:0;
	top:31px;
}

.city h2 {
	font-size:20px;
}

.city ul {
	margin:0;
	padding:0;
	list-style:none;
}

.city li {
	border-bottom:#CCC solid 1px;
}

.city a {
	display:block;
	font-size:13px;
	height:25px;
	width:166px;
	padding:6px 0 0 9px;
}

.city a:hover {
	background:#f2f2f2;
}

.city a.active,
.city a.active:hover {
	background:#32850a;
	text-decoration:none;
	color:#FFF;
}

.city .up {
	position:absolute;
	left:0;
	top:0;
	z-index:6;
	width:172px;
	background:#e6e6e6 url(../images/up-down.gif) center 0 no-repeat;
	height:30px;
	padding:0;
}

.city .down {
	position:absolute;
	left:0;
	bottom:0;
	z-index:6;
	width:172px;
	background:#e6e6e6 url(../images/up-down.gif) center -90px no-repeat;
	height:30px;
	padding:0;
}

.city .up:hover {
	background:#32850a url(../images/up-down.gif) center -30px no-repeat;
}

.city .down:hover {
	background:#32850a url(../images/up-down.gif) center -60px no-repeat;
}

.city .up-no:hover {
	cursor:default;
	background:#e6e6e6 url(../images/up-down.gif) center 0 no-repeat;
}

.city .down-no:hover {
	cursor:default;
	background:#e6e6e6 url(../images/up-down.gif) center -90px no-repeat;
}

.loading {
	min-height:400px;
	background:url(../images/325.GIF) center no-repeat;
}


/*
.tarif .box-head {
	background:url(../images/icons.png) 0 0 no-repeat;
}

.curier .box-head {
	background:url(../images/icons.png) 0 -58px no-repeat;
}

.samo .box-head {
	background:url(../images/icons.png) 0 -116px no-repeat;
}

.quest .box-head {
	background:url(../images/icons.png) 0 -174px no-repeat;
}
*/